@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");
html {
    background-color: #88CCF1;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
}

body>* {
    grid-column: 2;
}

form {
    display: block;
}

body form .stormform {
    background-color: #3587A4;
}

.shadow-blocker-1,
.shadow-blocker-2 {
    background-color: var(--secondary-color);
    position: relative;
    z-index: 24;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 4;
}

.shadow-blocker-2 {
    grid-column: 3;
}


/* Global Font Styles */

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
    padding-bottom: 8px;
}

h4 {
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
th {
    font-family: var(--header-font);
}

p,
span,
div,
li,
td,
a {
    font-family: var(--paragraph-font);
    font-size: 1.1em;
}

div.dividerBox {
    display: block;
    margin: 10px, auto;
    border: #C1DFF0;
    padding: 20px;
    font-style: italic;
}


/* Styles for the header and elements inside the header */

header {
    z-index: 10;
    padding: 1rem;
    position: relative;
    text-align: center;
    background-color: #3587A4;
    box-shadow: 0 0 10px black;
}

header>span {
    display: block;
    color: white;
    padding-bottom: 1rem;
}

h1 {
    color: var(--default-light);
    margin-bottom: 0.75rem;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

h1,
h2,
p {
    margin: 0;
}

.start-3 {
    align-items: center;
    align-content: center;
    align-self: center;
}

.stats2 {
    position: absolute;
    top: 90px;
    right: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
}

.stats {
    position: absolute;
    top: 230px;
    right: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
}

.post1 {
    position: absolute;
    top: 230px;
    right: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
}

.post2 {
    position: absolute;
    top: 230px;
    left: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
}

.post3 {
    position: absolute;
    top: 380px;
    right: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
}

.post4 {
    position: absolute;
    top: 380px;
    left: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
}

.post {
    left: 50px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
    position: absolute;
    margin: 30px auto;
    box-shadow: 2;
    text-align: left;
}

.post-events {
    right: 50px;
    top: 700px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
    position: absolute;
    margin: 30px auto;
    box-shadow: 2;
    text-align: left;
}

.stats-1 {
    top: 380px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
    position: absolute;
    margin: 30px auto;
    box-shadow: 2;
    text-align: left;
    align-items: center;
}

.stats-2 {
    top: 700px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
    position: absolute;
    margin: 30px auto;
    box-shadow: 2;
    text-align: left;
    align-content: center;
}

.stats-3 {
    top: 1000px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
    position: absolute;
    margin: 30px auto;
    box-shadow: 2;
    text-align: left;
    align-content: center;
}

.stats-4 {
    top: 1300px;
    background: #C1DFF0;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px;
    opacity: .9;
    position: absolute;
    margin: 30px auto;
    box-shadow: 2;
    text-align: left;
    align-content: center;
}

.con-section img {
    right: inherit;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex-col {
    flex: 1 1 auto;
    background-color: #C1DFF0;
}

.flex-col,
.column-col,
.grid-col {
    border-bottom: 1px solid #3587A4;
    border-left: 1px solid #3587A4;
    text-align: center;
}

.flex-col:hover,
td:hover,
.column-col:hover,
.grid-col:hover {
    opacity: 0.75;
    background-color: black;
    color: white;
}

.flex,
.column,
.grid {
    border-right: 1px solid #3587A4;
}


/* Table styling and layout with no extras*/

table,
th,
td {
    border: thin solid #3587A4;
    border-collapse: collapse;
    padding: 5px;
}

td {
    background-color: #C1DFF0;
    font-size: 0.8rem;
    text-align: center;
}

.col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #3587A4;
    text-align: center;
}


/* Column styling and layout */

.column {
    column-count: 6;
    column-gap: 0;
}

.column img {
    width: 30%;
}

.column-col {
    background-color: #3587A4;
}


/* Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.grid-col {
    background-color: #C1DFF0;
}

nav {
    background-color: #88CCF1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 10px var(--default-dark);
}

nav ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding: 1;
    display: flex;
    flex: 1 1 100%;
}

nav a {
    /* It doesn't work to have this one with the other css block */
    height: calc(100% - 2em);
}

nav a,
span.navR {
    z-index: 8;
    padding: 1em 0;
    display: block;
    margin-right: 0;
    width: calc(100%);
    font-weight: bold;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: var(--default-light);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
}

nav a.at,
nav a:active,
span.navA {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    font-weight: bold;
    padding: 1em 0;
    z-index: 9;
}


/*nav>ul {
                margin: 0;
                padding: 0;
                display: grid;
                list-style: none;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                box-shadow: 0 0 10px var(--default-dark);
            }*/

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    padding: .6rem 1rem;
    align-items: center;
    text-align: center;
}

h2,
h3,
h4 {
    color: black;
}

.headings h1 {
    font-size: 2.75rem;
    margin: 0 0 0 17px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3587A4;
}

header img {
    width: 250px;
    height: 250px;
    display: block;
}

.m {
    font-style: Regular 400 italic;
    letter-spacing: 1pt;
    color: #C1DFF0;
    margin-left: 20px;
    font-size: 1rem;
}

section {
    padding: 0 1em;
}

section.grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 256px 1fr;
}

.organize.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.organizeRight.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    float: none;
}

section.grid>img {
    width: 80%;
    /* I just had to match this percent
                   with the temperature on the logo */
    align-self: center;
    justify-self: center;
}

table {
    margin: 0 auto;
}

table.more-spacing {
    margin-left: 0;
    border-spacing: 10px;
}

table.more-spacing th {
    text-align: right;
}

table.more-spacing thead th {
    text-align: center;
}


/* Styles for the footer and it's child elements */

footer {
    font-size: 1em;
    padding: 1.5rem;
    text-align: center;
    background-color: #3587A4;
    color: #f2f2f2;
    border-radius: 1em;
}

.socialmedia {
    display: contents;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.icon {
    padding: 0;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px 4px;
}

.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

#too-small {
    display: none;
}

.content-section {
    display: block;
    margin: auto;
    padding: 50px;
    background-color: #3587A4;
    box-shadow: 10px #88CCF1;
    color: #001F29;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
}

.content-section img {
    max-width: 90%;
    max-height: 100%;
    float: right;
    box-shadow: 5px #88CCF1;
}

.content-section h2 {
    font-weight: bold;
    color: #f2f2f2;
}

.content img {
    max-width: 90%;
    max-height: 70%;
    float: right;
    box-shadow: 5px #88CCF1;
}