a {
    color: #3587A4;
}

li a:hover {
    background-color: #C1DFF0;
}

header {
    background-color: #C1DFF0;
    padding-bottom: 22px;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #88CCF1;
    color: black;
}

main {
    display: grid;
    margin: auto;
}

section {
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

h1 {
    padding-top: 15px;
    text-align: center;
    color: black;
}

h2 {
    padding-bottom: 8px;
    text-align: center;
    color: black;
}

h4 {
    padding-bottom: 8px;
    text-align: center;
    color: black;
}

h3 {
    padding-bottom: 8px;
    text-align: center;
    color: black;
}

p {
    color: black;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: #3587A4;
    text-align: center;
    box-shadow: 0 2px 15px white;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
}

img {
    height: 100px;
    width: auto;
    align-self: center;
    box-shadow: 0 2px 15px black;
}

#colorone {
    background-color: #C1DFF0;
    width: 50%;
    box-shadow: 0 2px 15px black;
}

#colortwo {
    background-color: #3587A4;
    width: 50%;
}

#colorthree {
    background-color: #88CCF1;
    width: 50%;
}

#colorfour {
    background-color: #C1DFF0;
    color: #001F29;
    width: 50%;
    box-shadow: 0 2px 15px black;
}

footer {
    background-color: #3587A4;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 55px;
}

div {
    text-align: center;
}

picture {
    display: flex;
    float: inherit;
}

#currentdate {
    color: #C1DFF0;
}