                            #cards {
                            display: grid;
                            grid-template-columns: 1fr;
                            text-align: center;
                            gap: 10px;
                        }
                        
                        section {
                            background-color: #3587A4;
                        }
                        
                        @media only screen and (min-width: 750px) {
                            #cards {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                text-align: center;
                                gap: 8px;
                            }
                            @media only screen and (min-width: 64rem) {
                                #cards {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr 1fr;
                                    text-align: center;
                                    gap: 8px;
                                }
                                section {
                                    background-color: #88CCF1;
                                }
                                p {
                                    color: black;
                                }
                                header {
                                    background-color: #C1DFF0;
                                    padding: 5px 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                footer {
                                    background-color: #88CCF1;
                                    grid-template-columns: 1fr max-content repeat(3, max-content);
                                    align-items: center;
                                    text-align: center;
                                    justify-content: center;
                                    line-height: 4.5em;
                                }
                            }