@media only screen and (min-width: 64rem) {
    nav {
        background-color: #88CCF1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav button {
        display: none;
    }
    nav ul.hide {
        display: block;
    }
    nav ul {
        margin-left: 2%;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }
    header img {
        width: 200px;
        height: auto;
    }
    .h2main img {
        text-align: center;
    }
    header {
        background-color: #3587A4;
    }
}


/*end large*/

footer {
    font-size: 0.9em;
    padding: 1.5rem;
    text-align: center;
    background-color: #3587A4;
    color: #f2f2f2;
    border-radius: 1em;
}

.subscript {
    font-size: 0.7em;
    padding: 0.5em;
    text-align: center;
}