@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");

/* Random styling for html and body */

html {
    background-color: #88CCF1;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
}

body>* {
    grid-column: 2;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}

nav {
    background-color: #88CCF1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 10px var(--default-dark);
}

nav ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding: 1;
    display: flex;
    flex: 1 1 100%;
}

nav a {
    /* It doesn't work to have this one with the other css block */
    height: calc(100% - 2em);
}

nav a,
span.navR {
    z-index: 8;
    padding: 1em 0;
    display: block;
    margin-right: 0;
    width: calc(100%);
    font-weight: bold;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: var(--default-light);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
}

nav a.at,
nav a:active,
span.navA {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    font-weight: bold;
    padding: 1em 0;
    z-index: 9;
}


/*nav>ul {
margin: 0;
padding: 0;
display: grid;
list-style: none;
grid-template-columns: 1fr 1fr 1fr 1fr;
box-shadow: 0 0 10px var(--default-dark);
}*/

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    padding: .6rem 1rem;
    align-items: center;
    text-align: center;
}

.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


/* Styles for the main and the children of main */

main {
    padding: 1px 1em;
    background-color: var(--default-light);
}

.headings h1 {
    font-size: 2.75rem;
    margin: 0 0 0 17px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3587A4;
}

header img {
    width: 250px;
    height: 250px;
    display: block;
}

header {
    z-index: 10;
    padding: 1rem;
    position: relative;
    text-align: center;
    background-color: #3587A4;
    box-shadow: 0 0 10px black;
}

.m {
    font-style: Regular 400 italic;
    letter-spacing: 1pt;
    color: #C1DFF0;
    margin-left: 20px;
    font-size: 1rem;
}

footer {
    font-size: 1em;
    padding: 1.5rem;
    text-align: center;
    background-color: #3587A4;
    color: #f2f2f2;
    border-radius: 1em;
}

.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

#too-small {
    display: none;
}

* {
    padding: .35rem;
}

h2 {
    text-align: center;
}

section {
    max-width: 600px;
    margin: .5rem auto;
    border: 1px solid #3587A4;
    background-color: #3587A4;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
}

article:nth-child(odd) {
    flex-direction: column-reverse;
}

img {
    border: 1px solid #000080;
    width: 100%;
    height: auto;
}

.data {
    background-color: #000;
    color: #fff;
}